.button {
  background-color: #A69520;
  border: 1px solid #282727;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.22em;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none; }

input::-moz-focus-innner {
  border: 0;
  padding: 0; }

input.button {
  outline: none; }
